<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mutecsoft.healthvision.common.mapper.ANoticeMapper">

    <!--
        NOTICE 관련 공통 조회 컬럼
    -->
    <sql id="noticeColumn">
        NOTICE_ID
        , TITLE
        , CONTENT
        , LANG
        , DEL_YN
        , REG_ID
        , REG_DT
        , UPD_ID
        , UPD_DT
        , DATE(REG_DT) AS REG_DATE
        , DATE(UPD_DT) AS UPD_DATE
    </sql>

    <select id="selectNoticeList" parameterType="com.mutecsoft.healthvision.common.dto.admin.AdminNoticeDto$SearchNotice" resultType="com.mutecsoft.healthvision.common.dto.NoticeDto$NoticeInfo">
        SELECT
            <include refid="noticeColumn"/>
        FROM TB_NOTICE
        WHERE 1=1
        <if test="@MBUtil@isNotEmpty(searchParam.searchTitle)">
            AND TITLE LIKE CONCAT('%', #{searchParam.searchTitle}, '%')
        </if>
        <if test='@MBUtil@isNotEmpty(searchParam.searchContent)'>
            AND CONTENT LIKE CONCAT('%', #{searchParam.searchContent}, '%')
        </if>
        <if test="@MBUtil@isNotEmpty(searchParam.searchLang)">
            AND LANG = #{searchParam.searchLang}
        </if>
        <if test='@MBUtil@isNotEmpty(searchParam.searchDel)'>
            AND DEL_YN = #{searchParam.searchDel}
        </if>
        <if test='@MBUtil@isNotEmpty(searchParam.searchRegDate)'>
            AND DATE(REG_DT) = #{searchParam.searchRegDate}
        </if>
        ORDER BY REG_DT DESC
        <if test="pageable.pageSize != null and pageable.offset != null">
            LIMIT #{pageable.pageSize} OFFSET #{pageable.offset}
        </if>
    </select>

    <select id="selectNoticeListCnt" parameterType="com.mutecsoft.healthvision.common.dto.admin.AdminNoticeDto$SearchNotice" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM TB_NOTICE
        WHERE 1=1
        <if test="@MBUtil@isNotEmpty(searchParam.searchTitle)">
            AND TITLE LIKE CONCAT('%', #{searchParam.searchTitle}, '%')
        </if>
        <if test='@MBUtil@isNotEmpty(searchParam.searchContent)'>
            AND CONTENT LIKE CONCAT('%', #{searchParam.searchContent}, '%')
        </if>
        <if test="@MBUtil@isNotEmpty(searchParam.searchLang)">
            AND LANG = #{searchParam.searchLang}
        </if>
        <if test='@MBUtil@isNotEmpty(searchParam.searchDel)'>
            AND DEL_YN = #{searchParam.searchDel}
        </if>
        <if test='@MBUtil@isNotEmpty(searchParam.searchRegDate)'>
            AND DATE(REG_DT) = #{searchParam.searchRegDate}
        </if>
    </select>

    <insert id="createNotice" parameterType="com.mutecsoft.healthvision.common.dto.admin.AdminNoticeDto$CreateNotice">
        INSERT INTO TB_NOTICE(
            TITLE
            , CONTENT
            , LANG
            , REG_ID
            , REG_DT
            , DEL_YN
        ) VALUES (
            #{title}
            , #{content}
            , #{lang}
            , #{regId}
            , NOW()
            , 'N'
        )
    </insert>

    <update id="updateNotice" parameterType="com.mutecsoft.healthvision.common.dto.admin.AdminNoticeDto$UpdateNotice">
        UPDATE TB_NOTICE
        SET TITLE = #{title}
            , CONTENT = #{content}
            , LANG = #{lang}
            , DEL_YN = #{delYn}
            , UPD_ID = #{updId}
            , UPD_DT = now()
        WHERE NOTICE_ID = #{noticeId}
    </update>

    <update id="deleteNotices" parameterType="List">
        UPDATE TB_NOTICE
        SET DEL_YN = 'Y'
        WHERE NOTICE_ID IN
        <foreach collection="list" item="noticeId" open="(" separator="," close=")">
            #{noticeId}
        </foreach>
    </update>

</mapper>