<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mutecsoft.healthvision.common.mapper.ARoleMapper">

    <select id="selectRoleListByUserId" parameterType="java.lang.Long" resultType="com.mutecsoft.healthvision.common.model.Role">
        SELECT TR.*
        FROM TB_ROLE TR
                 LEFT JOIN TB_USER_ROLE TUR ON TUR.ROLE_ID = TR.ROLE_ID
        WHERE TUR.USER_ID = #{userId}
    </select>
    <select id="selectRoleByRoleNm" parameterType="java.lang.String" resultType="com.mutecsoft.healthvision.common.model.Role">
        SELECT *
        FROM TB_ROLE
        WHERE ROLE_NM = #{roleNm}
          AND DEL_YN != 'Y'
    </select>
    
</mapper>