<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mutecsoft.healthvision.common.mapper.ATermsMapper">

    <!--
        TERMS 관련 공통 조회 컬럼
    -->
    <sql id="termsColumn">
        TERMS_ID
        , TYPE
        , VERSION
        , TITLE
        , CONTENT
        , REQUIRED_YN
        , LANG
        , DEL_YN
        , REG_ID
        , REG_DT
        , UPD_ID
        , UPD_DT
        , DATE(REG_DT) AS REG_DATE
        , DATE(UPD_DT) AS UPD_DATE
    </sql>

    <select id="selectTermsList" parameterType="com.mutecsoft.healthvision.common.dto.admin.AdminTermsDto$SearchTerms" resultType="com.mutecsoft.healthvision.common.dto.admin.AdminTermsDto$TermsResponse">
        SELECT
            <include refid="termsColumn"/>
        FROM TB_TERMS
        WHERE 1=1
        <if test='@MBUtil@isNotEmpty(searchParam.searchType)'>
            AND TYPE = #{searchParam.searchType}
        </if>
        <if test='@MBUtil@isNotEmpty(searchParam.searchTitle)'>
            AND TITLE LIKE CONCAT('%', #{searchParam.searchTitle}, '%')
        </if>
        <if test='@MBUtil@isNotEmpty(searchParam.searchContent)'>
            AND CONTENT LIKE CONCAT('%', #{searchParam.searchContent}, '%')
        </if>
        <if test='@MBUtil@isNotEmpty(searchParam.searchVersion)'>
            AND VERSION = #{searchParam.searchVersion}
        </if>
        <if test='@MBUtil@isNotEmpty(searchParam.searchRequiredYn)'>
            AND REQUIRED_YN = #{searchParam.searchRequiredYn}
        </if>
        <if test='@MBUtil@isNotEmpty(searchParam.searchLang)'>
            AND LANG = #{searchParam.searchLang}
        </if>
        <if test='@MBUtil@isNotEmpty(searchParam.searchDelYn)'>
            AND DEL_YN = #{searchParam.searchDelYn}
        </if>
        <if test='@MBUtil@isNotEmpty(searchParam.searchRegDt)'>
            AND DATE(REG_DT) = #{searchParam.searchRegDt}
        </if>
        ORDER BY REG_DT DESC
        <if test="pageable.pageSize != null and pageable.offset != null">
            LIMIT #{pageable.pageSize} OFFSET #{pageable.offset}
        </if>
    </select>
    
    <select id="selectTermsListCnt" parameterType="com.mutecsoft.healthvision.common.dto.admin.AdminTermsDto$SearchTerms" resultType="Integer">
        SELECT COUNT(*) AS TOTAL_CNT
        FROM TB_TERMS
        WHERE 1=1
        <if test='@MBUtil@isNotEmpty(searchParam.searchType)'>
            AND TYPE = #{searchParam.searchType}
        </if>
        <if test='@MBUtil@isNotEmpty(searchParam.searchTitle)'>
            AND TITLE LIKE CONCAT('%', #{searchParam.searchTitle}, '%')
        </if>
        <if test='@MBUtil@isNotEmpty(searchParam.searchContent)'>
            AND CONTENT LIKE CONCAT('%', #{searchParam.searchContent}, '%')
        </if>
        <if test='@MBUtil@isNotEmpty(searchParam.searchVersion)'>
            AND VERSION = #{searchParam.searchVersion}
        </if>
        <if test='@MBUtil@isNotEmpty(searchParam.searchRequiredYn)'>
            AND REQUIRED_YN = #{searchParam.searchRequiredYn}
        </if>
        <if test='@MBUtil@isNotEmpty(searchParam.searchLang)'>
            AND LANG = #{searchParam.searchLang}
        </if>
        <if test='@MBUtil@isNotEmpty(searchParam.searchRegDt)'>
            AND DATE(REG_DT) = #{searchParam.searchRegDt}
        </if>
    </select>
    
    <insert id="registerTerms" parameterType="com.mutecsoft.healthvision.common.dto.admin.AdminTermsDto$RegisterTerms">
    	INSERT INTO TB_TERMS(
			TYPE
			, VERSION
			, TITLE
			, CONTENT
			, REQUIRED_YN
			, LANG
			, DEL_YN
			, REG_ID
			, REG_DT
    	) VALUES (
    		#{type}
			, (
	            SELECT IFNULL(MAX(VERSION), 0) + 1
	            FROM (SELECT * FROM TB_TERMS) AS t
	            WHERE TYPE = #{type}
	              AND LANG = #{lang}
	        )
			, #{title}
			, #{content}
			, #{requiredYn}
			, #{lang}
			, 'N'
			, #{regId}
			, NOW()
    	)
    </insert>
    
    <update id="updateTerms" parameterType="com.mutecsoft.healthvision.common.dto.admin.AdminTermsDto$UpdateTerms">
    	UPDATE TB_TERMS
        SET TYPE = #{type}
            , VERSION = (
                SELECT IFNULL(MAX(VERSION), 0) + 1
                FROM (SELECT * FROM TB_TERMS) AS t
                WHERE TYPE = #{type}
                  AND LANG = #{lang}
                  AND TERMS_ID != #{termsId}
            )
        	, TITLE = #{title}
            , CONTENT = #{content}
            , REQUIRED_YN = #{requiredYn}
            , LANG = #{lang}
            , DEL_YN = #{delYn}
            , UPD_ID = #{updId}
            , UPD_DT = now()
        WHERE TERMS_ID = #{termsId}
    </update>
    
    <update id="deleteNotices" parameterType="List">
        UPDATE TB_TERMS
        SET DEL_YN = 'Y'
        WHERE TERMS_ID IN
        <foreach collection="list" item="termsId" open="(" separator="," close=")">
            #{termsId}
        </foreach>
    </update>
</mapper>