<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mutecsoft.healthvision.common.mapper.AUserRoleMapper">

    <insert id="insertUserRole" parameterType="com.mutecsoft.healthvision.common.model.UserRole">
        INSERT INTO TB_USER_ROLE (
            USER_ID,
            ROLE_ID
        )
        VALUES (
            #{userId},
            #{roleId}
        )
    </insert>
    
    <delete id="deleteRoleByUserIdAndRoleId" >
        DELETE
        FROM TB_USER_ROLE
        WHERE USER_ID = #{userId}
        AND ROLE_ID = #{roleId}
    </delete>
</mapper>