<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mutecsoft.healthvision.common.mapper.FinalUploadMapper">

    <insert id="insertFinalUpload" parameterType="com.mutecsoft.healthvision.common.model.FinalUpload">
        INSERT IGNORE INTO TB_FINAL_UPLOAD(
            UPLOAD_DT
            , USER_ID
        )VALUES(
            #{uploadDt}
            , #{userId}
        )
    </insert>
    
    <select id="getFinalUpload" parameterType="Long">
        SELECT 
            FINAL_UPLOAD_ID
            , UPLOAD_DT
            , USER_ID
        FROM TB_FINAL_UPLOAD
        WHERE USER_ID = #{userId}
        ORDER BY UPLOAD_DT DESC
        LIMIT 1
    </select>
    
</mapper>