<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mutecsoft.healthvision.common.mapper.FoodPresetMapper">

    <!--
        Food Preset 관련 공통 조회 컬럼
        TFP : TB_FOOD_PRESET 
    -->
    <sql id="foodPresetColumn">
        TFP.FOOD_PRESET_ID
        , TFP.FOOD_NM
        , TFP.CALORIES
        , TFP.FOOD_FILE_ID
        , TFP.USER_ID
        , TFP.REG_ID
        , TFP.REG_DT
        , TFP.UPD_ID
        , TFP.UPD_DT
    </sql>
    
    
    <insert id="insertFoodPreset" parameterType="com.mutecsoft.healthvision.common.model.FoodPreset">
        INSERT INTO TB_FOOD_PRESET(
            FOOD_NM
            , CALORIES
            , FOOD_FILE_ID
            , USER_ID
            , REG_ID
            , REG_DT
            , UPD_ID
            , UPD_DT
        )VALUES
        (
            #{foodNm}
            , #{calories}
            , #{foodFileId}
            , #{regId}
            , #{regId}
            , NOW()
            , #{updId}
            , NOW()
            
        )
    </insert>
    
    <select id="selectFoodPresetList" parameterType="com.mutecsoft.healthvision.common.dto.FoodPresetDto$FoodPresetSearchRequest" resultType="com.mutecsoft.healthvision.common.model.FoodPreset">
        SELECT
            <include refid="foodPresetColumn"/>
        FROM TB_FOOD_PRESET TFP
        WHERE 1=1
        AND TFP.USER_ID = #{userId}
        ORDER BY TFP.FOOD_PRESET_ID ASC
    </select>
    
    <select id="selectFoodPreset" parameterType="com.mutecsoft.healthvision.common.dto.FoodPresetDto$FoodPresetSearchRequest" resultType="com.mutecsoft.healthvision.common.model.FoodPreset">
        SELECT
            <include refid="foodPresetColumn"/>
        FROM TB_FOOD_PRESET TFP
        WHERE TFP.FOOD_PRESET_ID = #{foodPresetId}
        AND TFP.USER_ID = #{userId}
    </select>
    
    <select id="selectFoodPresetCount" parameterType="com.mutecsoft.healthvision.common.dto.FoodPresetDto$FoodPresetSearchRequest" resultType="int">
        SELECT
            count(1)
        FROM TB_FOOD_PRESET TFP
        WHERE TFP.USER_ID = #{userId}
    </select>
    
    <update id="updateFoodPreset" parameterType="com.mutecsoft.healthvision.common.model.FoodPreset">
        UPDATE TB_FOOD_PRESET
        SET FOOD_NM = #{foodNm}
            , CALORIES = #{calories}
            , FOOD_FILE_ID = #{foodFileId}
            , UPD_ID = #{updId}
            , UPD_DT = NOW()
        WHERE FOOD_PRESET_ID = #{foodPresetId}
    </update>
    
    <delete id="deleteFoodPreset">
        DELETE 
        FROM TB_FOOD_PRESET
        WHERE FOOD_PRESET_ID = #{foodPresetId}
    </delete>

</mapper>