<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mutecsoft.healthvision.common.mapper.HealthMapper">

    <!--
        공통 조회 컬럼
        THD : TB_HR_DATA
        TSD : TB_SLEEP_DATA
        TWD : TB_WORKOUT_DATA 
    -->
    
    <sql id="hrColumn">
        THD.HR_DATA_ID
        , THD.VALUE
        , THD.RECORD_DT
        , THD.USER_ID
        , THD.REG_ID
        , THD.REG_DT
    </sql>
    <sql id="sleepColumn">
        TSD.SLEEP_DATA_ID
        , TSD.CATEGORY
        , TSD.START_DT
        , TSD.END_DT
        , TSD.USER_ID
        , TSD.REG_ID
        , TSD.REG_DT
    </sql>
    <sql id="workoutColumn">
        TWD.WORKOUT_DATA_ID
        , TWD.ACTIVITY_TYPE
        , TWD.DURATION
        , TWD.START_DT
        , TWD.END_DT
        , TWD.BURNED_CALORIES
        , TWD.USER_ID
        , TWD.REG_ID
        , TWD.REG_DT
    </sql>
    
    <insert id="insertMobileHrDataBatch" parameterType="com.mutecsoft.healthvision.common.model.health.MobileHrData">
        INSERT IGNORE INTO TB_HR_DATA(
            VALUE
            , RECORD_DT
            , USER_ID
            , REG_ID
            , REG_DT
            
        )VALUES
        <foreach collection="list" item="item" separator=",">
        (
            #{item.value}
            , #{item.recordDt}
            , #{item.regId}
            , #{item.regId}
            , NOW()
        )
        </foreach>
    </insert>
    
    
    <insert id="insertMobileSleepDataBatch" parameterType="com.mutecsoft.healthvision.common.model.health.MobileSleepData">
        INSERT IGNORE INTO TB_SLEEP_DATA(
            CATEGORY
            , START_DT
            , END_DT
            , USER_ID
            , REG_ID
            , REG_DT
            
        )VALUES
        <foreach collection="list" item="item" separator=",">
        (
            #{item.category}
            , #{item.startDt}
            , #{item.endDt}
            , #{item.regId}
            , #{item.regId}
            , NOW()
        )
        </foreach>
    </insert>
    
    
    <insert id="insertMobileWorkoutDataBatch" parameterType="com.mutecsoft.healthvision.common.model.health.MobileWorkoutData">
        INSERT IGNORE INTO TB_WORKOUT_DATA(
            ACTIVITY_TYPE
            , DURATION
            , START_DT
            , END_DT
            , BURNED_CALORIES
            , USER_ID
            , REG_ID
            , REG_DT
        )VALUES
        <foreach collection="list" item="item" separator=",">
        (
            #{item.activityType}
            , #{item.duration}
            , #{item.startDt}
            , #{item.endDt}
            , #{item.burnedCalories}
            , #{item.regId}
            , #{item.regId}
            , NOW()
        )
        </foreach>
    </insert>
    
    
    <select id="selectBgCountByDateRange" 
        parameterType="com.mutecsoft.healthvision.common.dto.HealthDto$HealthInfoRequest" 
        resultType="com.mutecsoft.healthvision.common.dto.HealthDto$BgInfo">
        
        SELECT
            COUNT(1) AS CNT
            , DATE(TBD.RECORD_DT) AS RECORD_DATE
        FROM TB_BG_DATA TBD
        WHERE TBD.USER_ID = #{userId}
        <![CDATA[
        AND TBD.RECORD_DT >= STR_TO_DATE(#{startDate}, '%Y-%m-%d')
        AND TBD.RECORD_DT < DATE_ADD(STR_TO_DATE(#{endDate}, '%Y-%m-%d'), INTERVAL 1 DAY)
        ]]>
        GROUP BY DATE(TBD.RECORD_DT)
    </select>
    
    <select id="selectWorkoutList" 
        parameterType="com.mutecsoft.healthvision.common.dto.HealthDto$HealthInfoRequest" 
        resultType="com.mutecsoft.healthvision.common.model.health.MobileWorkoutData">
        
        SELECT
            <include refid="workoutColumn"/>
        FROM TB_WORKOUT_DATA TWD
        WHERE TWD.USER_ID = #{userId}
        <![CDATA[
        AND TWD.START_DT >= STR_TO_DATE(#{startDate}, '%Y-%m-%d')
        AND TWD.START_DT < DATE_ADD(STR_TO_DATE(#{endDate}, '%Y-%m-%d'), INTERVAL 1 DAY)
        ]]>
    </select>
        
    <select id="selectTotSleepMin" 
        parameterType="com.mutecsoft.healthvision.common.dto.HealthDto$HealthInfoRequest" 
        resultType="Long">
    
        SELECT
            SUM(TIMESTAMPDIFF(MINUTE, TSD.START_DT, TSD.END_DT)) AS totSleepMin
        FROM TB_SLEEP_DATA TSD
        WHERE TSD.USER_ID = #{userId}
        <![CDATA[
        AND TSD.START_DT >= STR_TO_DATE(#{startDate}, '%Y-%m-%d')
        AND TSD.START_DT < DATE_ADD(STR_TO_DATE(#{endDate}, '%Y-%m-%d'), INTERVAL 1 DAY)
        ]]>
    
    </select>
    
    <select id="selectHeartRateList" 
        parameterType="com.mutecsoft.healthvision.common.dto.HealthDto$HealthInfoRequest" 
        resultType="com.mutecsoft.healthvision.common.model.health.MobileHrData">
        
        SELECT
            <include refid="hrColumn"/>
        FROM TB_HR_DATA THD
        WHERE THD.USER_ID = #{userId}
        <![CDATA[
        AND THD.RECORD_DT >= STR_TO_DATE(#{startDate}, '%Y-%m-%d')
        AND THD.RECORD_DT < DATE_ADD(STR_TO_DATE(#{endDate}, '%Y-%m-%d'), INTERVAL 1 DAY)
        ]]>
        
    </select>
    
</mapper>