<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mutecsoft.healthvision.common.mapper.MailSendAttemptMapper">

    <sql id="mailSendAttemptColumn">
        MAIL_SEND_ATTEMPT_ID
        , EMAIL
        , IP
        , MAIL_TYPE_CD
        , REQ_CNT
        , LAST_ATTEMPT_DT
    </sql>
    
    <select id="selectLastMailSendAttempt" parameterType="com.mutecsoft.healthvision.common.model.MailSendAttempt">
        SELECT
            <include refid="mailSendAttemptColumn"/>
        FROM TB_MAIL_SEND_ATTEMPT
        WHERE EMAIL = #{email}
        AND IP = #{ip}
        AND MAIL_TYPE_CD = #{mailTypeCd}
        ORDER BY LAST_ATTEMPT_DT DESC
        LIMIT 1
    </select>
    
    <insert id="insertMailSendAttempt" parameterType="com.mutecsoft.healthvision.common.model.MailSendAttempt">
        INSERT INTO TB_MAIL_SEND_ATTEMPT (
            EMAIL
            , IP
            , MAIL_TYPE_CD
            , REQ_CNT
            , LAST_ATTEMPT_DT
        ) VALUES (
            #{email},
            #{ip},
            #{mailTypeCd},
            '1',
            NOW()
        )
    </insert>
    
    <update id="initMailSendAttempt" parameterType="com.mutecsoft.healthvision.common.model.MailSendAttempt">
        UPDATE TB_MAIL_SEND_ATTEMPT
            SET REQ_CNT = '0'
        WHERE MAIL_SEND_ATTEMPT_ID = #{mailSendAttemptId}
    </update>
    
    <update id="updateReqCnt" parameterType="com.mutecsoft.healthvision.common.model.MailSendAttempt">
        UPDATE TB_MAIL_SEND_ATTEMPT
            SET REQ_CNT = REQ_CNT + 1,
                LAST_ATTEMPT_DT = NOW()
        WHERE MAIL_SEND_ATTEMPT_ID = #{mailSendAttemptId}
    </update>
    
    
</mapper>