<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mutecsoft.healthvision.common.mapper.MedicationMapper">

    <insert id="insertMedicationInfo" parameterType="com.mutecsoft.healthvision.common.model.MedicationInfo">
        INSERT INTO TB_MEDICATION_INFO (
            MED_NM
            , DOSE_PERIOD
            , DOSE_START_DATE
            , DOSE_END_DATE
            , USER_ID
            , DEL_YN
            , REG_DT
        ) VALUES (
            #{medNm}
            , #{dosePeriod}
            , #{doseStartDate}
            , #{doseEndDate}
            , #{regId}
            , 'N'
            , NOW()
        )
    </insert>
    
    <insert id="insertMedicationLog" parameterType="com.mutecsoft.healthvision.common.model.MedicationLog">
        INSERT INTO TB_MEDICATION_LOGS (
            MED_INFO_ID
            , DOSE_DT
            , USER_ID
            , REG_DT
        ) VALUES (
            #{medInfoId}
            , #{doseDt}
            , #{regId}
            , NOW()
        )
    </insert>
    
    
    <select id="selectMedicationInfoList" resultType="com.mutecsoft.healthvision.common.model.MedicationInfo">
        SELECT
            MED_INFO_ID
            , MED_NM
            , DOSE_PERIOD
            , DOSE_START_DATE
            , DOSE_END_DATE
            , USER_ID
            , DEL_YN
            , REG_DT
        FROM TB_MEDICATION_INFO
        WHERE DEL_YN = 'N'
          AND USER_ID = #{userId}
        ORDER BY REG_DT DESC
    </select>
    
    <select id="selectMedicationLogList" resultType="com.mutecsoft.healthvision.common.dto.MedicationLogDto$MedicationLogResponse">
        SELECT
            LOGS.MED_LOG_ID
            , LOGS.MED_INFO_ID
            , LOGS.DOSE_DT
            , LOGS.USER_ID
            , LOGS.REG_DT
            , INFO.MED_NM
            , INFO.DOSE_PERIOD
            , INFO.DOSE_START_DATE
            , INFO.DOSE_END_DATE
        FROM TB_MEDICATION_LOGS LOGS
        LEFT JOIN TB_MEDICATION_INFO INFO
        ON LOGS.MED_INFO_ID = INFO.MED_INFO_ID
        WHERE LOGS.USER_ID = #{userId}
        ORDER BY LOGS.REG_DT DESC
    </select>
    
</mapper>