<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mutecsoft.healthvision.common.mapper.PaymentHistoryMapper">

    <!-- <sql id="paymentHistoryColumn">
        
    </sql> -->

    <insert id="insertPaymentHistory" parameterType="com.mutecsoft.healthvision.common.model.PaymentHistory">
        
        INSERT INTO TB_PAYMENT_HISTORY (
            USER_ID
            , REPORT_ID
            , TRANSACTION_ID
            , TRANSACTION_TYPE
            , PURCHASE_TOKEN
            , PRODUCT_ID
            , AMOUNT
            , CURRENCY
            , PAYMENT_DT
            , REFUND_DT
            , PLATFORM
            , STATUS
            , REG_DT
        ) VALUES (
            #{userId}
            , #{reportId}
            , #{transactionId}
            , #{transactionType}
            , #{purchaseToken}
            , #{productId}
            , #{amount}
            , #{currency}
            , #{paymentDt}
            , #{refundDt}
            , #{platform}
            , #{status}
            , NOW()
        )
        
    </insert>
    
    <select id="selectPaymentHistoryForGoogleRdtn" 
        parameterType="com.mutecsoft.healthvision.common.dto.PaymentHistoryDto$SearchRequestForGoogleRdtn" 
        resultType="com.mutecsoft.healthvision.common.model.PaymentHistory">
    
        SELECT 
            PAYMENT_HISTORY_ID
            , USER_ID
            , REPORT_ID
            , TRANSACTION_ID
            , TRANSACTION_TYPE
            , PURCHASE_TOKEN
            , PRODUCT_ID
            , AMOUNT
            , CURRENCY
            , PAYMENT_DT
            , REFUND_DT
            , PLATFORM
            , STATUS
            , REG_DT
        FROM TB_PAYMENT_HISTORY
        WHERE PURCHASE_TOKEN = #{purchaseToken}
        AND TRANSACTION_TYPE = #{transactionType}
    </select>
    
    <select id="selectPaymentHistoryForAppleRdtn" 
        parameterType="com.mutecsoft.healthvision.common.dto.PaymentHistoryDto$SearchRequestForAppleRdtn" 
        resultType="com.mutecsoft.healthvision.common.model.PaymentHistory">
    
        SELECT 
            PAYMENT_HISTORY_ID
            , USER_ID
            , REPORT_ID
            , TRANSACTION_ID
            , TRANSACTION_TYPE
            , PURCHASE_TOKEN
            , PRODUCT_ID
            , AMOUNT
            , CURRENCY
            , PAYMENT_DT
            , REFUND_DT
            , PLATFORM
            , STATUS
            , REG_DT
        FROM TB_PAYMENT_HISTORY
        WHERE TRANSACTION_ID = #{transactionId}
        AND TRANSACTION_TYPE = #{transactionType}
    </select>
    
    
    <update id="updatePaymentHistory" parameterType="com.mutecsoft.healthvision.common.model.PaymentHistory">
        UPDATE TB_PAYMENT_HISTORY
        SET STATUS = #{status}
            <if test='@MBUtil@isNotEmpty(transactionId)'>
            , TRANSACTION_ID = #{transactionId}
            </if>
            , REFUND_REASON = #{refundReason}
            , REFUND_DT = #{refundDt}
            , UPD_DT = NOW()
        WHERE PAYMENT_HISTORY_ID = #{paymentHistoryId}
    </update>
    
</mapper>