<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mutecsoft.healthvision.common.mapper.ReportMapper">

    <insert id="insertReport" parameterType="com.mutecsoft.healthvision.common.model.Report" useGeneratedKeys="true"
            keyProperty="reportId" keyColumn="report_id">
        INSERT INTO TB_REPORT (
            
            REPORT_ID
            , APLY_ID
            , APLY_DT
            , STATUS_CD
            , ANLYS_ID
            , ANLYS_DT
            , REPORT_FILE_ID
            , BG_FILE_ID
            
        )VALUES (
            #{reportId}
            , #{aplyId}
            , #{aplyDt}
            , #{statusCd}
            , NULL
            , NULL
            , NULL
            , #{bgFileId}
        )
    </insert>
    
    
    <select id="selectReportByBgFileId" parameterType="Long" resultType="com.mutecsoft.healthvision.common.dto.ReportDto$ReportResponse">
        SELECT
            TRE.REPORT_ID
            , TRE.APLY_ID
            , TRE.APLY_DT
            , TRE.STATUS_CD
            , TRE.ANLYS_ID
            , TRE.ANLYS_DT
            , TRE.REPORT_FILE_ID
            , TRE.BG_FILE_ID
            , DATE(TRE.APLY_DT) AS APLY_DATE
            , DATE(TRE.ANLYS_DT) AS ANLYS_DATE
            , APLY.EMAIL AS APLY_EMAIL
            , ANLYS.EMAIL AS ANLYS_EMAIL
        FROM TB_REPORT TRE
        LEFT JOIN TB_USER APLY
        ON TRE.APLY_ID = APLY.USER_ID
        LEFT JOIN TB_USER ANLYS
        ON TRE.ANLYS_ID = ANLYS.USER_ID
        WHERE  TRE.BG_FILE_ID = #{bgFileId}
    </select>
    
    <select id="selectReportList" parameterType="com.mutecsoft.healthvision.common.dto.ReportDto$ReportSearchRequest" resultType="com.mutecsoft.healthvision.common.dto.ReportDto$ReportResponse">
        SELECT
            TRE.REPORT_ID
            , TRE.APLY_ID
            , TRE.APLY_DT
            , TRE.STATUS_CD
            , TRE.ANLYS_ID
            , TRE.ANLYS_DT
            , TRE.REPORT_FILE_ID
            , TRE.BG_FILE_ID
            , DATE(TRE.APLY_DT) AS APLY_DATE
            , DATE(TRE.ANLYS_DT) AS ANLYS_DATE
            , APLY.EMAIL AS APLY_EMAIL
            , ANLYS.EMAIL AS ANLYS_EMAIL
            , TBF.RECORD_START_DATE
            , TBF.RECORD_END_DATE
        FROM TB_REPORT TRE
        LEFT JOIN TB_USER APLY
        ON TRE.APLY_ID = APLY.USER_ID
        LEFT JOIN TB_USER ANLYS
        ON TRE.ANLYS_ID = ANLYS.USER_ID
        LEFT JOIN TB_BG_FILE TBF
        ON TRE.BG_FILE_ID = TBF.BG_FILE_ID
        WHERE TRE.APLY_ID = #{userId}
        <if test='@MBUtil@isNotEmpty(limitMonth)'>
            <![CDATA[
            AND TRE.APLY_DT >= DATE_SUB(CURDATE(), INTERVAL #{limitMonth} MONTH)
            ]]>
        </if>
        ORDER BY TRE.REPORT_ID DESC
    </select>
    
    
    <select id="selectReportByPurchaseToken" parameterType="String" resultType="com.mutecsoft.healthvision.common.model.Report">
        SELECT
            TRE.REPORT_ID
            , TRE.APLY_ID
            , TRE.APLY_DT
            , TRE.STATUS_CD
            , TRE.ANLYS_ID
            , TRE.ANLYS_DT
            , TRE.REPORT_FILE_ID
            , TRE.BG_FILE_ID
        FROM TB_REPORT TRE
        LEFT JOIN TB_PAYMENT_HISTORY TPH
        ON TRE.REPORT_ID = TPH.REPORT_ID
        WHERE TPH.PURCHASE_TOKEN = #{purchaseToken}
    </select>
    
    <select id="selectReportById" parameterType="Long" resultType="com.mutecsoft.healthvision.common.model.Report">
        SELECT
            TRE.REPORT_ID
            , TRE.APLY_ID
            , TRE.APLY_DT
            , TRE.STATUS_CD
            , TRE.ANLYS_ID
            , TRE.ANLYS_DT
            , TRE.REPORT_FILE_ID
            , TRE.BG_FILE_ID
        FROM TB_REPORT TRE
        LEFT JOIN TB_PAYMENT_HISTORY TPH
        ON TRE.REPORT_ID = TPH.REPORT_ID
        WHERE TRE.REPORT_ID = #{reportId}
    </select>
    
    
    <select id="selectReportByReportId" parameterType="Long" resultType="com.mutecsoft.healthvision.common.model.Report">
        SELECT
            TRE.REPORT_ID
            , TRE.APLY_ID
            , TRE.APLY_DT
            , TRE.STATUS_CD
            , TRE.ANLYS_ID
            , TRE.ANLYS_DT
            , TRE.REPORT_FILE_ID
            , TRE.BG_FILE_ID
        FROM TB_REPORT TRE
        LEFT JOIN TB_PAYMENT_HISTORY TPH
        ON TRE.REPORT_ID = TPH.REPORT_ID
        WHERE TRE.REPORT_FILE_ID = #{fileId}
    </select>
    
    
    <update id="updateReportStatus" parameterType="com.mutecsoft.healthvision.common.model.Report">
        UPDATE TB_REPORT
        SET STATUS_CD = #{statusCd}
            , UPD_DT = NOW()
        WHERE REPORT_ID = #{reportId}
    </update>
    
    <delete id="deleteReport" parameterType="Long">
        DELETE FROM TB_REPORT
        WHERE REPORT_ID = #{reportId}
    </delete>

</mapper>