<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mutecsoft.healthvision.common.mapper.TermsAgreeMapper">

    <insert id="insertTermsAgree" parameterType="com.mutecsoft.healthvision.common.model.TermsAgree">
        INSERT INTO TB_TERMS_AGREE (
            USER_ID,
            TERMS_ID,
            REG_DT
        ) VALUES (
            #{userId},
            #{termsId},
            NOW()
        )
    </insert>
    
</mapper>