<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mutecsoft.healthvision.common.mapper.TokenMapper">

    <insert id="insertToken" parameterType="com.mutecsoft.healthvision.common.model.Token">
        INSERT INTO TB_TOKEN (
            USER_ID
            , TOKEN_TYPE
            , TOKEN
            , REG_DT
        )
        VALUES (
            #{userId}
            , #{tokenType}
            , #{token}
            , NOW()
        )
    </insert>

    <update id="updateToken" parameterType="com.mutecsoft.healthvision.common.model.Token">
        UPDATE TB_TOKEN
        SET TOKEN = #{token}
            , UPD_DT = NOW()
        WHERE TOKEN_ID = #{tokenId}
    </update>
    
    <select id="selectToken" resultType="com.mutecsoft.healthvision.common.model.Token">
        SELECT *
        FROM TB_TOKEN
        WHERE USER_ID = #{userId}
        AND TOKEN_TYPE = #{tokenType}
    </select>
    
    <select id="selectTokenList" resultType="com.mutecsoft.healthvision.common.model.Token">
        SELECT *
        FROM TB_TOKEN
        WHERE USER_ID = #{userId}
        AND TOKEN_TYPE = #{tokenType}
    </select>
    
    
    <select id="selectTokenByToken" resultType="com.mutecsoft.healthvision.common.model.Token">
        SELECT *
        FROM TB_TOKEN
        WHERE USER_ID = #{userId}
        AND TOKEN_TYPE = #{tokenType}
        AND TOKEN = #{token}
    </select>
    
    <select id="selectTokenListByUserIdList" resultType="String">
        SELECT
            TOKEN
        FROM TB_TOKEN
        WHERE TOKEN_TYPE = #{tokenType}
        AND USER_ID IN
        <foreach collection="userIdList" item="userId" open="(" separator="," close=")">
            #{userId}
        </foreach>
    </select>
    
    
    <delete id="deleteToken">
    	DELETE FROM TB_TOKEN
        WHERE TOKEN_TYPE = #{tokenType}
        AND TOKEN = #{token}
    </delete>
    
</mapper>