<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mutecsoft.healthvision.common.mapper.UserMapper">

    <!--
        USER 관련 공통 조회 컬럼
        TU : TB_USER 
    -->
    <sql id="userColumn">
        TU.USER_ID
        , TU.EMAIL
        , TU.USER_PW
        , TU.DEL_YN
    </sql>
    
    <select id="selectUserByEmail" parameterType="String" resultType="com.mutecsoft.healthvision.common.model.User">
        SELECT 
            <include refid="userColumn"/>
        FROM TB_USER TU
        WHERE TU.EMAIL = #{email}
        AND TU.DEL_YN = 'N'
    </select>
    
    <select id="selectUserByUserId" parameterType="Long" resultType="com.mutecsoft.healthvision.common.model.User">
        SELECT 
            <include refid="userColumn"/>
        FROM TB_USER TU
        WHERE TU.USER_ID = #{userId}
        AND TU.DEL_YN = 'N'
    </select>
    
    <insert id="insertUser" parameterType="com.mutecsoft.healthvision.common.model.User">
        INSERT INTO TB_USER (
            EMAIL,
            USER_PW,
            DEL_YN,
            REG_DT
        ) VALUES (
            #{email},
            #{userPw},
            'N',
            NOW()
        )
        <selectKey resultType="Long" order="AFTER" keyProperty="userId">
            SELECT LAST_INSERT_ID() AS userId
        </selectKey>
    </insert>
    
    
    <update id="updateLastLoginDt" parameterType="Long">
        UPDATE TB_USER
        SET LAST_LOGIN_DT=NOW()
        WHERE USER_ID=#{userId}
    </update>

    <delete id="deleteUser">
        UPDATE TB_USER
        SET DEL_YN='Y'
            , DEL_DT=NOW()
            , EMAIL = CONCAT(EMAIL, #{emailSuffix})
        WHERE USER_ID=#{userId}
    </delete>
    
</mapper>