<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mutecsoft.healthvision.common.mapper.UserMapper">

    <!--
        USER 관련 공통 조회 컬럼
        TU : TB_USER 
    -->
    <sql id="userColumn">
        TU.USER_ID
        , TU.EMAIL
        , TU.USER_PW
        , TU.SNS_PROVIDER
        , TU.SNS_USER_ID
        , TU.GENDER
        , TU.BIRTH_DATE
        , TU.HEIGHT
        , TU.WEIGHT
        , TU.PROFILE_FILE_ID
        , TU.TEMP_PW
        , TU.TEMP_PW_EXPIRE_DT
        , TU.NICKNAME
        , TU.LAST_LOGIN_DT
        , TU.DEL_YN
    </sql>
    
    <select id="selectUserByEmail" parameterType="String" resultType="com.mutecsoft.healthvision.common.model.User">
        SELECT 
            <include refid="userColumn"/>
        FROM TB_USER TU
        WHERE TU.EMAIL = #{email}
        AND TU.DEL_YN = 'N'
    </select>
    
    <select id="selectUserByUserId" parameterType="Long" resultType="com.mutecsoft.healthvision.common.model.User">
        SELECT 
            <include refid="userColumn"/>
        FROM TB_USER TU
        WHERE TU.USER_ID = #{userId}
        AND TU.DEL_YN = 'N'
    </select>
    
    <select id="selectUserByNicknameAndNotUserId" resultType="com.mutecsoft.healthvision.common.model.User">
        SELECT 
            <include refid="userColumn"/>
        FROM TB_USER TU
        WHERE TU.NICKNAME = #{nickname}
        AND TU.DEL_YN = 'N'
        AND TU.USER_ID != #{excludeUserId}
    </select>

    <insert id="insertUser" parameterType="com.mutecsoft.healthvision.common.model.User">
        INSERT INTO TB_USER (
            EMAIL,
            USER_PW,
            GENDER,
            BIRTH_DATE,
            SNS_PROVIDER,
            SNS_USER_ID,
            DEL_YN,
            REG_DT
        ) VALUES (
            #{email},
            #{userPw},
            #{gender},
            #{birthDate},
            #{snsProvider},
            #{snsUserId},
            'N',
            NOW()
        )
        <selectKey resultType="Long" order="AFTER" keyProperty="userId">
            SELECT LAST_INSERT_ID() AS userId
        </selectKey>
    </insert>
    
    
    <update id="updateProfile" parameterType="com.mutecsoft.healthvision.common.model.User">
        UPDATE TB_USER
            SET PROFILE_FILE_ID = #{profileFileId},
                NICKNAME = #{nickname},
                UPD_DT = NOW(),
                UPD_ID = #{updId}
         WHERE USER_ID = #{userId}
    </update>
    
    <select id="selectNextNicknameIndex" parameterType="String">
        SELECT MAX(CAST(SUBSTRING(NICKNAME, LENGTH(#{nicknamePrefix}) + 1) AS UNSIGNED))
        FROM TB_USER
        WHERE NICKNAME LIKE CONCAT(#{nicknamePrefix}, '%')
        AND SUBSTRING(NICKNAME, LENGTH(#{nicknamePrefix}) + 1) REGEXP '^[0-9]+$'
    </select>

    <update id="updateBodyInfo" parameterType="com.mutecsoft.healthvision.common.model.User">
        UPDATE TB_USER
            SET BIRTH_DATE = #{birthDate},
                GENDER = #{gender},
                HEIGHT = #{height},
                WEIGHT = #{weight},
                UPD_DT = NOW(),
                UPD_ID = #{updId}
         WHERE USER_ID = #{userId}
    </update>
    
    <update id="updateLastLoginDt" parameterType="Long">
        UPDATE TB_USER
        SET LAST_LOGIN_DT=NOW()
        WHERE USER_ID=#{userId}
    </update>

    <delete id="deleteUser">
        UPDATE TB_USER
        SET DEL_YN='Y'
            , DEL_DT=NOW()
            , EMAIL = CONCAT(EMAIL, #{emailSuffix})
        WHERE USER_ID=#{userId}
    </delete>
    
    <update id="updateTempPw" parameterType="com.mutecsoft.healthvision.common.model.User">
        UPDATE TB_USER
            SET TEMP_PW = #{tempPw},
                TEMP_PW_EXPIRE_DT = #{tempPwExpireDt}
         WHERE USER_ID = #{userId}
    </update>
    
    <update id="changePw" parameterType="com.mutecsoft.healthvision.common.model.User">
        UPDATE TB_USER
            SET USER_PW = #{userPw},
                UPD_DT = NOW(),
                UPD_ID = #{updId}
         WHERE USER_ID = #{userId}
    </update>

</mapper>